:host {
    display: inline-block;
    perspective: 600px;
    padding: 5px;
}

.card {
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    height: 300px;
    width: 200px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    border: 5px solid #ffeb90;
}

.card.defaultState {
    border: 5px solid #ffeb90;
}

.card.flippedState {
    border: 5px solid #ffffff;
}

.cardText {
    position: absolute;
    text-align: center;
    background: #346079c7;
    width: 100%;
    bottom: 40px;
    padding: 10px 0;
    font-family: 'Caveat Brush', cursive;
    font-size: 18px;
}

.face {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.front {
    transform: rotateY(180deg);
    background: #b2f1ff;
}

.cardNumber {
    font-family: "Alfa Slab One", cursive;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 48%;
    font-size: 60px;
    color: #ffffff;
}

.game01 .cardNumber {
    color: #ffeb88;
}

.game02 .cardNumber {
    font-family: 'Roboto';
    top: 86%;
    font-size: 40px;
    font-weight: bold;
}

.game03 .cardNumber {
    font-family: 'Roboto';
    top: 86%;
    font-size: 40px;
    font-weight: bold;
}

.game04 .cardText {
    background: #542413cc;
    bottom: 0;
    font-family: "Roboto";
    font-size: 13px;
    padding: 2px 0px;
}

.game02 .cardText {
    display: none;
}

.game03 .cardText {
    display: none;
}

.card.game02.card.defaultState {
    border-color: #5e5e5e;
}

.card.game05.card.defaultState {
    border: 5px solid #6b9dbc;
}

.card.game02.card.card.flippedState {
    border-color: #ffffff;
}

.card.game03.card.defaultState  {
    border: 5px solid #1bcff8;
}

.game05 .cardText {
    position: absolute;
    text-align: center;
    background: #000000a3;
    width: 89%;
    padding: 5px 5px;
    font-family: "Caveat Brush", cursive;
    font-size: 17px;
    margin: 3% !important;
    border-radius: 8px;
    bottom: 0;
}

.game05 .cardNumber {
    color: #021c51;
}


