<mat-toolbar color="primary" class="app-toolbar">
  <mat-toolbar-row>
    <span>Nosy Questions </span>
    <span class="version">Beta 1.1</span>

    <diV class="donate">
      Support this software
      <a mat-flat-button color="accent" href="https://www.paypal.com/donate?hosted_button_id=QMTCSHV5RNS8C"
        target="_blank">Donate with PayPal</a>
    </diV>

    <span class="example-spacer"></span>

    <a (click)="navigateToGames()" mat-icon-button class="icon">
      <mat-icon>home</mat-icon>
    </a>

    <a (click)="reloadCurrentPage()" mat-icon-button class="icon">
      <mat-icon>restart_alt</mat-icon>
    </a>

    <section>
      <div class="example-button-row">
        <a mat-button (click)="setLang('es')">Español</a>
        <a mat-button (click)="setLang('en')">English</a>
      </div>
    </section>

  </mat-toolbar-row>
</mat-toolbar>
