<mat-toolbar color="primary" class="app-toolbar">
    <mat-toolbar-row>
      <span>Preguntas </span>
      <span class="version">Beta 1.0</span>

      <diV class="donate">
        Support this software
        <a mat-flat-button color="accent"
          href=" https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=22DGAVHYZZL9J&source=url"
          target="_blank">Donate with PayPal</a>
      </diV>

        <a href="#" mat-icon-button class="icon">
          <mat-icon>restart_alt</mat-icon>
        </a>

    </mat-toolbar-row>
  </mat-toolbar>
