/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  background: #303030;
  min-width: 960px;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #FFF;
}


.mat-card-actions {
  text-align: right !important;
}
